{% extends "main.html" %}

{% block head %}
    {{ jimi.jquery() }}
    {{ jimi.tables() }}
{% endblock %}

{% block main %}
    <div class="theme-panelContainer" style="width: 550px; margin: 50px auto;">
        <div>
            <h2 class="text-center">jimi Choice:</h2>
            <h3 class="text-center">{{message}}</h3>
            <div class="form-group text-center answerSet">
                <button id="yes" class="btn btn-primary theme-panelButton">Yes</button>
                <button id="no" class="btn btn-primary theme-panelButton">No</button>
            </div>
            <div class="form-group text-center answerDone" style="display: none">
                <p class="text-center">
                    Thank you
                </p>
            </div>
        </div>
    </div>

    <script>
        var CSRF = "{{CSRF}}"
    </script>

    <script>
        $("#yes").click(function () {
            $.ajax({url: "/plugin/choice/{{token}}/", type:"POST", data:JSON.stringify({ answer: true, CSRF: CSRF }), contentType:"application/json", "success" : function() {
                    $('.answerSet').hide();
                    $('.answerDone').show();
                } 
            });
        });

        $("#no").click(function () {
            $.ajax({url: "/plugin/choice/{{token}}/", type:"POST", data:JSON.stringify({ answer: false, CSRF: CSRF }), contentType:"application/json", "success" : function() {
                    $('.answerSet').hide();
                    $('.answerDone').show();
                } 
            });
        });
    </script>
{% endblock %}